:root {
    --bs-primary: #ff6620;
    --bs-accordion-active-color: #ff6620;
    --bs-accordion-btn-active-color: #ff6620;
    --bs-accordion-active-bg: #291005;
    --bs-primary-rgb: 255, 102, 32;
}

.btn-primary {
    --bs-btn-bg: #ff6620;
    --bs-btn-border-color: #ff6620;
    --bs-btn-hover-bg: #291005;
    --bs-btn-hover-border-color: #291005;
    --bs-btn-active-bg: #ff6620;
    --bs-btn-active-border-color: #ff6620;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    --bs-accordion-active-color: #ff6620;
    --bs-accordion-btn-active-color: #ff6620;
    --bs-accordion-active-bg: #291005;
}

.accordion-button:focus {
    --bs-accordion-btn-focus-box-shadow: #ff6620;
}

.list-group-item.active {
    --bs-list-group-active-color: #ff6620;
    --bs-list-group-active-bg: #291005;
    --bs-list-group-active-border-color: #ff6620;
}

.btn-outline-primary {
    --bs-btn-color: #ff6620;
    --bs-btn-border-color: #ff6620;
    --bs-btn-active-bg: #ff6620;
    --bs-btn-active-border-color: #ff6620;
}
