{% extends 'base.html' %}

{% block content %}

<script>
const urlHome = "{{ url_for('imp_niv.home') }}";
</script>

<div class="container" id="estadillo-div">
  <div class="d-grid gap-2 m-4" id="d-estadillo">
    <a class="btn btn-lg btn-primary" href="{{ url_for('imp_niv.descargar_estadillos') }}" role="button"
      download>Descarga estadillos de campo</a>
  </div>
</div>

<div class="container" id="form-gsi-div">
  <form class="m-3" id="form-gsi">
    <fieldset>
      <legend>Importador de Nivelaciones</legend>
      <div class="form-group">
        <label for="formFile" class="form-label mt-3">Selecciona el archivo GSI</label>
        <input class="form-control" type="file" id="formFile" name="formFile" required>
        <label for="dateInput" class="form-label mt-3">Fecha de la lectura</label>
        <input type="date" id="dateInput" name="dateInput" class="form-control" required>
        <label for="timeInput" class="form-label mt-3">Hora de la lectura</label>
        <input type="time" id="timeInput" name="timeInput" class="form-control" step="1" required>
      </div>
      <button type="submit" class="btn btn-primary mt-3" id="submit-gsi">Enviar</button>
    </fieldset>
  </form>
</div>

<script>
  let now = new Date();
  let date = now.toISOString().substring(0, 10);
  let time = now.toTimeString().substring(0, 5);
  document.getElementById("dateInput").value = date;
  document.getElementById("timeInput").value = time;
</script>

<div id="result-gsi" class="container  d-none">
  <div id="tables-gsi" class="container"></div>
  <div id="accept-reject-all-gsi" class="container d-none btn-group d-flex">
    <button type="button" class="btn btn-success m-2" id="accept-all-gsi">Aceptar todos</button>
    <button type="button" class="btn btn-danger m-2" id="reject-all-gsi">Rechazar todos</button>
  </div>
</div>

<div id="result-report" class="container d-none">
  <div id="tables-report" class="container"></div>
  <div id="accept-reject-all-report" class="container d-none btn-group d-flex">
    <button type="button" class="btn btn-success m-2" id="accept-all-report">Aceptar todos</button>
    <button type="button" class="btn btn-danger m-2" id="reject-all-report">Rechazar todos</button>
  </div>
</div>

<div id="result-csv" class="container d-none">
  <div id="tables-csv" class="container"></div>
</div>

<div id="progress-bar" class="d-none">
  <div class="progress mt-5">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div>
  <div class="col text-center">
    <img src="{{ url_for('static', filename='img/EwyoxJrWYAANCpD.jpg') }}" alt="loading" class="img-fluid mt-5">
  </div>
</div>

<!-- Enlace al archivo JS de la página -->
<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}