{% extends 'base.html' %}

{% block content %}

<script>
  var urlHome = "{{ url_for('imp_niv.home') }}";
</script>

<!-- <div id="alert-success" class="alert alert-dismissible alert-success m-3 d-none">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <p id="alert-success-text"></p>
</div>

<div id="alert-danger" class="alert alert-dismissible alert-danger m-3 d-none">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <p id="alert-danger-text"></p>
</div> -->

<div class="container" id="estadillo-div">
  <div class="d-grid gap-2 m-4" id="d-estadillo">
    <a class="btn btn-lg btn-primary" href="{{ url_for('imp_niv.descargar_estadillos') }}" role="button"
      download>Descarga estadillos de campo</a>
  </div>
</div>

<div class="container" id="form-gsi-div">
  <form class="m-3" id="form-gsi">
    <fieldset>
      <legend>Importador de Nivelaciones</legend>
      <div class="form-group">
        <label for="formFile" class="form-label mt-3">Selecciona el archivo GSI</label>
        <input class="form-control" type="file" id="formFile" name="formFile" required>
        <label for="dateInput" class="form-label mt-3">Fecha de la lectura</label>
        <input type="date" id="dateInput" name="dateInput" class="form-control" required>
        <label for="timeInput" class="form-label mt-3">Hora de la lectura</label>
        <input type="time" id="timeInput" name="timeInput" class="form-control" step="1" required>
      </div>
      <button type="submit" class="btn btn-primary mt-3" id="submit-gsi">Enviar</button>
    </fieldset>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let now = new Date();

    let year = now.getFullYear();
    let month = String(now.getMonth() + 1).padStart(2, '0');
    let day = String(now.getDate()).padStart(2, '0');

    let date = `${year}-${month}-${day}`;

    let hour = String(now.getHours()).padStart(2, '0');
    let minute = String(now.getMinutes()).padStart(2, '0');
    let second = String(now.getSeconds()).padStart(2, '0');

    let time = `${hour}:${minute}:${second}`;

    document.getElementById("dateInput").value = date;
    document.getElementById("timeInput").value = time;
  });
  
</script>

<div id="result-gsi" class="container  d-none">
  <div id="tables-gsi" class="container"></div>
  <div id="generate-report-button-div" class="d-grid gap-2">
    <!-- <button type="button" class="btn btn-lg btn-success m-3" id="generate-report-button">Generar reporte</button> -->
  </div>
</div>

<div id="result-report" class="container  d-none">
  <div id="tables-report" class="container"></div>
  <div id="generate-csv-button-div" class="d-grid gap-2"></div>
</div> 

<div id="progress-bar" class="d-none">
  <div class="progress mt-5">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div>
</div>

<!-- Enlace al archivo JS de la página -->
<!-- <script type="module" src="{{ url_for('static', filename='js/home_utils.js') }}"></script> -->
<script type="module" src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}