{% extends 'base.html' %}

{% block content %}

<script>
    var data = {{ data|safe }};
</script>

<div class="container" id="reporte"></div>

<div id="accept-reject-all-procesar"></div>

<form id="hidden-form-procesar" action="{{ url_for('imp_niv.enviar') }}" method="post" style="display: none;">
  <input type="text" id="hidden-input-procesar">
</form>

<div class="progress d-none" id="progress-bar-procesar">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>

<script src="{{ url_for('static', filename='js/procesar.js') }}"></script>

{% endblock %}